<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
</style>
<div class="fons">
    <section class="mdx-container">
        <div class="md-grid md-typeset">
            <div class="mdx-hero">
                <div class="mdx-hero__image">
                    <img src="assets/images/fondo.jpg" alt="" width="1659" height="1200" draggable="false">
                    <div class="mdx-hero__content">
                        <div class="mdx-hero__text">
                            <h1>BIENVENIDO A LA DOCUMENTACIÓN DE CASTAÑER</h1>
                            <p>El texto descriptivo, en este caso un retrato de una persona, provoca en el receptor una imagen tal que la realidad descripta cobra forma, se materializa en su mente. En este caso el texto habla de un personaje real: Doña Uzeada de Ribera Maldonado de Bracamonte y Anaya. Como se trata de una descripcion literaria, la actitud del emisor es subjetiva, dado que pretende transmitir su propia vision personal al describir y la funcion del lenguaje es predominantemente poetica, ya que persigue una estetica en particular.</p>
                        </div>
                        <div class="mdx-hero__actions">
                            <button class="btn primary"><a href="http://localhost:50402/">Buisness Central</a></button>
                            <button class="btn secondary"><a href="https://happy-mud-090542f03.4.azurestaticapps.net">Soporte IT</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>