.fons{
    background-color: rgb(1, 1, 1);
}

.md-header {
    position: relative;
}

.md-main__inner {
    margin: 0
}

.md-content {
    display: none
}

@media screen and (min-width:60em) {
    .md-sidebar--secondary {
        display: none
    }
}

@media screen and (min-width:76.25em) {
    .md-sidebar--primary {
        display: none
    }
}

.mdx-hero__image {
    position: relative;
    max-width: 100%;
    max-height: 10%;
    overflow: hidden;
}

.mdx-hero__image img {
    width: 100%;
    height: auto;
}

.mdx-hero__content {
    text-align: left;
    color: white;
    padding: 20px; 
}

.mdx-hero__text  h1{
    font-size: 3em;
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    margin-top:-68%;
}

.mdx-hero__text p{
    font-size: 1.1em;
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    margin-top:1.5%;
}

.mdx-hero__actions {
    position: absolute;
    margin-top:25%;
}

.btn {
    width: 28vh;
    height: 10vh;
    border: none; 
    padding: 14px 28px; 
    cursor: pointer; 
    text-align: center;
  }

  .btn a{
    color: white;
    text-decoration: none;
    font-family:'Roboto', sans-serif;
    font-size: 17px; 
  }

  .btn:last-child{
    margin-left: 20px;

   }
  .primary {background-color: teal;} 
  .primary:hover {background: teal;}

  .secondary {background-color: #978d83;} 
  .secondary:hover {background: #978d83;}